 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 .main-container {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
 }

 .container {
     justify-self: center;
     border-radius: 20px;
     max-width: fit-content;
     padding: 5px;
     margin: 1rem;
     background-color: lightgray;
 }

 #input-text {

     text-align: right;
     background-color: unset;
     border: white;
     color: black;
     border-radius: 10px;
     font-weight: bolder;
     font-size: 1.2rem;
     height: 40px;
     width: 100%;

 }

 input:focus {
     outline: none;
 }

 section {
     margin: 1rem;
 }

 .topSection {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     color: black;
     margin-bottom: 0;
 }

 .topSection div:nth-child(1) {
     font-weight: bold;
     font-size: 1.5rem;
 }

 .topSection div:nth-child(2) {
     line-height: 2.5;
 }

 .displayRow {
     background-color: white;
     color: black;
     /* padding: 10px; */
     border-radius: 10px;
     font-weight: bold;
     font-size: 2rem;
     height: 40px;

 }

 .buttonSection {
     background-color: #b4aaaa;
     padding: 10px;
     border-radius: 10px;
 }

 .buttonRow {
     display: flex;
     justify-content: space-between;
 }

 button {
     /* padding: 20px; */
     margin: 5px;
     border: unset;
     border-radius: 10px;
     background-color: white;
     color: black;
     box-shadow: 4px 4px 4px 0px rgba(91, 83, 95, 0.5);
     font-weight: bold;
     font-size: large;
     cursor: pointer;
     width: 60px;
     height: 60px;
 }


 .minusbtn,
 .dividebtn,
 .multiplybtn {
     width: 50px;
 }

 .delbtn {
     padding: 7px;
     color: white;
     background-color: rgb(91, 164, 233);
 }

 .resetbtn {
     margin-top: 10px;
     color: white;
     background-color: rgb(91, 164, 233);
     width: 128px;
 }

 .assignmentbtn {
     margin-top: 10px;
     background-color: peru;
     color: white;
     width: 128px;
 }

 @media (max-width: 768px) {
     .container {
         width: 80% !important;
     }
 }

 /* @media (max-width:425px) {
     .container {
         width: 80% !important;

     }

     button {
         
         margin: 5px;
         width: 50px;
         height: 40px;
     }

     #input-text {
         font-size: 1rem !important;
         height: 40px;
         width: 100%;


     }

     .displayRow {


         font-size: 1rem;
         height: 40px;

     }

     .minusbtn,
     .dividebtn,
     .multiplybtn {
         width: 40px;
     }



     .resetbtn {
         margin-top: 10px;
         color: white;
         background-color: rgb(91, 164, 233);
         width: 100px;
     }

     .assignmentbtn {
         margin-top: 10px;
         background-color: peru;
         color: white;
         width: 100px;
     }
 }

 @media (max-width:300px) {
     .main-container {
         display: none;

     }

 } */